/* CANVAS */
.meme-container {
  display: none;
  margin: 0 auto;
  padding: 20px 0;
}
.canvas-container {
  flex-direction: column;
  gap: 50px;
  width: 100%;
}
canvas {
  display: block;
  outline: 1px solid black;
  background-color: white;
  cursor: grab;
}

/* CANVAS - BUTTONS */
.meme-buttons {
  grid-template: repeat(6, 1fr) / repeat(5, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    "txt txt txt txt txt"
    ". switch addLine delete ."
    "plus minus align-left align-center align-right"
    "font font font up right"
    "save color-fill color-stroke down left "
    "stickers stickers stickers stickers stickers"
    "stickers stickers stickers stickers stickers"
    "download download . share share";
}
.color-stroke,
.color-fill,
.file-input {
  position: absolute;
  opacity: 0;
  width: 0px;
  height: 0px;
}

.btn-left-stickers {
  grid-area: left-arrow-stickers;
}
.btn-right-stickers {
  grid-area: right-arrow-stickers;
}
.btns-stickers {
  background-color: white;
  grid-area: stickers;
  border-radius: 10px;
  font-size: 40px;
  cursor: pointer;
}

.btn-download,
.btn-share {
  border: 0;
  cursor: pointer;
  font-size: 1rem;
}

.emojis {
  background-color: transparent;
  border: 0;
  font-size: 30px;
  cursor: pointer;
}
.chevron-icon {
  width: 35px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.btn-save {
  grid-area: save;
}

.btn-share {
  grid-area: share;
}
.btn-download {
  grid-area: download;
}
.btns-meme {
  color: white;
  height: 40px;
  border-radius: 6px;
  background-color: #ff7f00;
  text-align: center;
  padding: 10px;
}

.btn-color-stroke {
  grid-area: color-stroke;
}

.btn-color-fill {
  grid-area: color-fill;
}

.meme-txt {
  grid-area: txt;
  border-radius: 10px;
}
.meme-font {
  grid-area: font;
  border-radius: 10px;
}

.btn-delete {
  grid-area: delete;
}

.btn-plus {
  grid-area: plus;
}
.btn-minus {
  grid-area: minus;
}

.btn-up {
  grid-area: up;
}

.btn-down {
  grid-area: down;
}

.btn-right {
  grid-area: right;
}

.btn-left {
  grid-area: left;
}

.btn-addLine {
  grid-area: addLine;
}

.btn-switch {
  grid-area: switch;
}

.btn-align-left {
  grid-area: align-left;
}
.btn-align-center {
  grid-area: align-center;
}
.btn-align-right {
  grid-area: align-right;
}

/* CANVAS ICONS */
.icons {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 5.5px 5px 5px 5.5px;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  object-fit: cover;
}

.icons:hover {
  background-color: #ff7f00;
}

@media screen and (min-width: 780px) {
  .canvas-container {
    flex-direction: row;
    gap: 50px;
  }
}
