* {
  box-sizing: border-box;
}
/* FONTS */

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Medium.ttf);
}

body {
  font-size: 1rem;
  font-family: Montserrat, "Impact", "sans-serif", "monospace";
  margin: 0;
  padding: 0;
  background-color: #e3e3e3;
  height: 100vh;
}

/* BASE */

a,
a:hover {
  text-decoration: none;
}

/* LAYOUTS */

.main-layout {
  max-width: 1060px;
  margin: 0 auto;
}

/* HELPERS */

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

.flex.justify-content {
  justify-content: center;
}

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  background-color: #ff7f00;
}

.logo {
  width: 8.32rem;
  padding-inline-start: 1rem;
}

/*HEADER NAV*/
.header-nav > li {
  cursor: pointer;
}

.header-nav > li > a {
  height: 4.125rem;
  width: 4.313rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  transition: box-shadow 0.8s;
}

.header-nav > li:hover > a {
  box-shadow: inset 0 -3px 0 #040a2c;
}

/* GALLERY */
.gallery-container {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  margin: 0 auto;
  grid-gap: 1.5rem;
}

.gallery-frame {
  padding: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #333;
  color: #d9d9d9;
}

.gallery-image {
  object-fit: cover;
  max-width: 100%;
  cursor: pointer;
  height: auto;
  transition: opacity 0.25s ease-in-out;
}

.gallery-image:hover {
  opacity: 0.75;
}

/* CANVAS */

.meme-container {
  display: none;
  margin: 0 auto;
}
.canvas-container {
  gap: 50px;
}
canvas {
  display: block;

  outline: 1px solid black;
  background-color: white;
}

/* CANVAS - BUTTONS */
.meme-buttons {
  grid-template: repeat(6, 1fr) / repeat(5, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    "txt txt txt txt txt"
    ". switch addLine delete ."
    "plus minus align-left align-center align-right"
    "font font font up right"
    "save color-fill color-stroke down left "
    "download download . share share";
}

.btn-save {
  grid-area: save;
}

.btn-share {
  grid-area: share;
}
.btn-download {
  grid-area: download;
}
.btns-meme {
  color: white;
  height: 40px;
  border-radius: 6px;
  background-color: #ff7f00;
  text-align: center;
  padding: 10px;
}

.btn-color-stroke {
  grid-area: color-stroke;
}

.btn-color-fill {
  grid-area: color-fill;
}

.meme-txt {
  grid-area: txt;
  border-radius: 10px;
}
.meme-font {
  grid-area: font;
  border-radius: 10px;
}

.btn-delete {
  grid-area: delete;
}

.btn-plus {
  grid-area: plus;
}
.btn-minus {
  grid-area: minus;
}

.btn-up {
  grid-area: up;
}

.btn-down {
  grid-area: down;
}

.btn-right {
  grid-area: right;
}

.btn-left {
  grid-area: left;
}

.btn-addLine {
  grid-area: addLine;
}

.btn-switch {
  grid-area: switch;
}

.btn-align-left {
  grid-area: align-left;
}
.btn-align-center {
  grid-area: align-center;
}
.btn-align-right {
  grid-area: align-right;
}

/* ICONS */
.icons {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 5.5px 5px 5px 5.5px;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  object-fit: cover;
}

/**/
